.event-card {
  width: 145px;
  height: 147px;
  flex-shrink: 0;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.event-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.event-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(12, 19, 39, 0) 0%, rgba(12, 19, 39, 0.9) 100%);
}

.event-card-date {
  position: relative;
  z-index: 1;
  align-self: flex-end;
  padding: 2px 6px;
  background: rgba(5, 12, 32, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(1px);
}

.event-card-date span {
  color: white;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  line-height: 18px;
}

.event-card-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-card-title {
  color: white;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  word-wrap: break-word;
}

.event-card-participants {
  display: flex;
  align-items: center;
}

.event-card-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #FAFBFE;
}

.event-card-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
