.sense-badge {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.sense-badge-contour {
  border: 2px solid white;
  box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.15);
}

.sense-badge-sans-contour {
  box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.15);
}
